:root {
  --button-width: 3.3ex;
}

html, body {
  padding: 0;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

/* main layout */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
#article, #control, #references {
  display: block;
  height: 100%;
  position: relative;
}
#article {
  flex: 4 4 50%;
}
#control {
  flex: 1 1 12.5%;
  min-width: 8em;
  max-width: 12em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#references {
  flex: 3 3 37.5%;
}
.article, .reference {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* article layout */
.article {
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 0.5ex;
}
#article-text[contenteditable=false], #article-placeholder {
  opacity: 60%;
}
#article-ctl {
  position: relative;
  float: right;
  margin: 0.5ex;
  margin-inline-end: 1ex;
  z-index: 2;
}

/* control layout */
#histctl {
  flex-grow: 1;
}
.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  spacer {
    flex-grow: 1;
  }
  button, div {
    flex-grow: 0;
  }
}
#advanced {
  position: absolute;
  top: var(--button-width); right: 0;
  display: none;
  width: var(--button-width);
  z-index: 2;
  #adv-ctl:hover + &, &:hover {
    display: block;
  }
  & > * {
    display: block;
    width: var(--button-width);
  }
}

/* control sublayout */
#control {
  select {
    display: block;
  }
  select, option, input[type=text], textarea {
    width: 100%;
  }
  #article-file {
    display: none;
  }
  fieldset {
    padding-block: 0.25ex;
    padding-inline: 0.25ex;
  }
  fieldset:not(:first-child),
  fieldset > *:not(legend):not(:nth-child(2)) {
    margin-block-start: 0.25ex;
  }
  fieldset:not(:last-child),
  fieldset > *:not(legend):not(:last-child) {
    margin-block-end: 0.25ex;
  }
  .buttons {
    row-gap: 0.15ex;
  }
  .buttons > *:not(:first-child) {
    margin-inline-start: 0.15ex;
  }
  .buttons > *:not(:last-child) {
    margin-inline-end: 0.15ex;
  }
  #advanced > * {
    margin-block-start: 0.15ex;
  }
}

/* references layout */
.frameurl {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0.2ex;
  background-color: color-mix(in srgb, currentColor 66%, transparent);
  filter: invert(100%);
}
.frameurl > a {
  filter: invert(100%);
}
.frameurl > a > span::after {
  display: inline-block;
  transform: scaleX(-1);
  content: "⎋ ";
}
#refcancel {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0.5ex;
}

/* text styling */
body {
  font-family: sans-serif;
  font-size: 18px;
}
button {
  min-width: var(--button-width);
  vertical-align: middle;
}
legend {
  font-size: 85%;
}
#refcancel {
  font-size: 75%;
}
textarea {
  resize: none;
}
#control ::placeholder {
  /* browsers don't do this by default!!
  it's needed to make our &.exword usage fully work below. */
  color: inherit;
}
#vocab option, #wordctl .word-details {
  color: FieldText; /* redeclare existing default for visual consistency */
  &.exword {
    color: color-mix(in srgb, FieldText 66%, transparent);
  }
}
#vocab option[zh-Latn-pinyin*="?"],
#vocab option[en=""],
#wordctl .word-details:not(.noword):not(:valid),
#wordctl .word-details:placeholder-shown {
  --invalid: "invalid"; /* signal to javascript */
  color: red;
  &.exword {
    color: color-mix(in srgb, red 66%, transparent);
  }
}
#wordctl .noword::placeholder, .hidden {
  visibility: hidden;
}
#vocab option[value=""],
#wordctl .word-details#word-zh-Hans:not(.noword):not(:valid) {
  background-color: #f66;
}
.found {
  background-color: #f66;
  margin: -2px;
  padding: 2px;
}
.found-focus {
  background-color: #ff0;
}
