html, body {
  padding: 0;
  height: 100%;
}

#window-find-reset-hack {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* Work around https://github.com/ankidroid/Anki-Android/issues/14547 */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

/* main layout */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
#article, #control, #references {
  display: block;
  height: 100%;
  position: relative;
}
#article {
  flex: 9 9 56.25%;
  padding: 0.5ex;
}
#control {
  min-width: 8em;
  max-width: 12em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#references {
  flex: 7 7 43.75%;
}

/* control layout */
#control select {
  display: block;
}
#control select, #control option, #control input[type=text], #control textarea {
  width: 100%;
}
#article-file {
  display: none;
}
#advanced {
  position: absolute;
  display: none;
  z-index: 2;
}
#advcont:hover #advanced {
  display: block;
}
#histctl {
  flex-grow: 1;
}

/* control sublayout */
fieldset {
  margin: 0.5ex 0;
  padding: 0.5ex 0.25ex;
}
fieldset:first-child {
  margin-top: 0;
}
fieldset:last-child {
  margin-bottom: 0;
}
fieldset > :not(legend), #advanced > * {
  margin: 0.5ex 0;
}
fieldset > *:nth-child(2) { /* first child is the legend */
  margin-top: 0;
}
fieldset > *:last-child {
  margin-bottom: 0;
}

/* references layout */
.reference {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.frameurl {
  display: inline-block;
  position: absolute;
  bottom: 0;
  background-color: color-mix(in srgb, currentColor 66%, transparent);
  filter: invert(100%);
}
.frameurl > a {
  filter: invert(100%);
}
.frameurl > a > span::after {
  display: inline-block;
  transform: scaleX(-1);
  content: "⎋ ";
}

/* text styling */
body {
  font-family: sans-serif;
  font-size: 18px;
}
button {
  min-width: 3.3ex;
  vertical-align: middle;
}
.secondary {
  font-size: smaller;
}
textarea {
  resize: none;
}
::placeholder {
  /* browsers don't do this by default!!
  it's needed to make our &.exword usage fully work below. */
  color: inherit;
}
#vocab option, #wordctl .word-details {
  color: FieldText; /* redeclare existing default for visual consistency */
  &.exword {
    color: color-mix(in srgb, FieldText 66%, transparent);
  }
}
#vocab option[zh-Latn-pinyin*="?"],
#vocab option[en=""],
#wordctl .word-details:not(.noword):not(:valid),
#wordctl .word-details:placeholder-shown {
  color: red;
  &.exword {
    color: color-mix(in srgb, red 66%, transparent);
  }
}
#wordctl .noword::placeholder {
  visibility: hidden;
}
#vocab option[value=""],
#wordctl .word-details#word-zh-Hans:not(.noword):not(:valid) {
  background-color: #f66;
}
