html, body {
  padding: 0;
  height: 100%;
}

#window-find-reset-hack {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* main layout */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
#article, #control, #references {
  display: block;
  height: 100%;
  position: relative;
}
#article {
  flex: 9 9 56.25%;
}
#control {
  min-width: 12em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#references {
  flex: 7 7 43.75%;
}

/* control layout */
#control select {
  display: block;
}
#control select, #control option, #control input[type=text], #control textarea {
  width: 100%;
}
#article-file {
  display: none;
}
#advanced {
  position: absolute;
  display: none;
  z-index: 2;
}
#advcont:hover #advanced {
  display: block;
}
#histctl {
  flex-grow: 1;
}

/* control sublayout */
fieldset {
  padding: 0.5ex 0.25ex;
}
fieldset > :not(legend), #advanced > * {
  margin: 0.5ex 0;
}
fieldset > *:first-child {
  margin-top: 0;
}
fieldset > *:last-child {
  margin-bottom: 0;
}

/* references layout */
.reference {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.frameurl {
  display: inline-block;
  position: absolute;
  bottom: 0;
  background-color: color-mix(in srgb, currentColor 66%, transparent);
  filter: invert(100%);
}
.frameurl > a {
  filter: invert(100%);
}
.frameurl > a > span::after {
  display: inline-block;
  transform: scaleX(-1);
  content: "⎋ ";
}

/* text styling */
body {
  font-family: sans-serif;
  font-size: 18px;
}
button {
  min-width: 3.3ex;
  vertical-align: middle;
}
.secondary {
  font-size: smaller;
}
#vocab option.exword,
#wordctl .exword {
  opacity: 75%;
}
#vocab option[zh-Latn-pinyin*="?"],
#vocab option[en=""],
#wordctl .word-details:not(.noword):not(:valid),
#wordctl .word-details::placeholder,
.warn {
  color: red;
}
#wordctl .noword::placeholder {
  visibility: hidden;
}
#vocab option[value=""],
#word-zh-Hans:not(.noword):not(:valid) {
  background-color: #f66;
}
